body {
    background-image: url(img/meadow.jpg);
}

.normal {
    background-color: #A8A77A;
}

.fighting {
    background-color: #C22E28;
}

.flying {
    background-color: #A98FF3;
}

.poison {
    background-color: #A33EA1;
}

.ground {
    background-color: #E2BF65;
}

.rock {
    background-color: #B6A136;
}

.bug {
    background-color: #A6B91A;
}

.ghost {
    background-color: #735797;
}

.steel {
    background-color: #B7B7CE;
}

.fire {
    background-color: #EE8130;
}

.water {
    background-color: #6390F0;
}

.grass {
    background-color: #7AC74C;
}

.electric {
    background-color: #F7D02C;
}

.psychic {
    background-color: #F95587;
}

.ice {
    background-color: #96D9D6;
}

.dragon {
    background-color: #6F35FC;
}

.dark {
    background-color: #705746;
}

.fairy {
    background-color: #D685AD;
}

.unknown {
    background-color: grey;
}

.shadow {
    background-color: black;
}

.bg-red, #pokedex:before {
    background-color: #C92323;
}

.bg-small {
    background-size: contain;
    background-repeat: no-repeat;
}

.bg-small-black {
    background-image: url(img/bg-small-black.png);
}

.bg-small-blue {
    background-image: url(img/bg-small-blue.png);
}

.bg-small-brown {
    background-image: url(img/bg-small-brown.png);
}

.bg-small-gray {
    background-image: url(img/bg-small-gray.png);
}

.bg-small-green {
    background-image: url(img/bg-small-green.png);
}

.bg-small-pink {
    background-image: url(img/bg-small-pink.png);
}

.bg-small-purple {
    background-image: url(img/bg-small-purple.png);
}

.bg-small-red {
    background-image: url(img/bg-small-red.png);
}

.bg-small-white {
    background-image: url(img/bg-small-white.png);
}

.bg-small-yellow {
    background-image: url(img/bg-small-yellow.png);
}

.bg-big {
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: bottom right;
}

:root {
    --black: #4D4D4D;
    --blue: #76BEFE;
    --brown: #B96822;
    --gray: #C8C8C8;
    --green: #49D0B0;
    --pink: #F5A9D1;
    --purple: #C95ACA;
    --red: #FC6C6E;
    --white: #FFFFFF;
    --yellow: #FFD76F;
}

.light {
    color: rgba(0, 0, 0, 0.5);
}

h1 {
    color: #ffd500;
}

h2, h3 {
    color: rgba(0, 0, 0, 0.65);
}

.pokemon-id {
    color: rgba(0, 0, 0, 0.3);
}

.pokemon-types {
    color: rgba(255, 255, 255, 0.85);
}

.search {
    border-color: #000000;
    color: #000000;
}

.container, .search, .loading-box {
    background-color: #F1F1F1;
}

.type {
    color: rgba(255, 255, 255, 0.9);
}

.details-overlay-box {
    background-color: rgba(0, 0, 0, 0.2);
}

.details-overlay-bottom {
    background-color: #ededed;
}

.details-nav div:hover {
    color: black;
}

.active {
    color: black;
}

.stats-bar-bg {
    background-color: rgb(220 220 224);
}