html {
  font-family: 'Roboto';
}

body {
  margin: 0;
  overflow: hidden;
}

/* GLOBAL */

.p-a {
  position: absolute;
}

.d-f {
  display: flex;
}

.jc-c {
  justify-content: center;
}

.jc-sb {
  justify-content: space-between;
}

.jc-sa {
  justify-content: space-around;
}

.ai-c {
  align-items: center;
}

.fd-c {
  flex-direction: column;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.fit {
  width: fit-content;
}

.d-none {
  display: none !important;
}

/* POKEDEX FRAMEWORK */

#pokedex {
  width: 1790px;
  height: 97vh;
  right: calc((100vw - 907px) / 2);
  top: 1vh;
  perspective: 75vw;
}

#pokedex:before {
  width: 1%;
  height: 100%;
  background-color: #c92323;
  content: '';
  position: absolute;
  left: 49%;
  top: 0;
  box-shadow: 1px 8px 0px 2px #c92323, 2px 8px 0px 6px #000000;
  outline: 4px solid black;
}

.cover {
  width: 50%;
  height: 90%;
  outline: 4px solid black;
  box-shadow: 0px -8px 4px 0px rgb(0 0 0 / 20%);
  left: 50%;
  bottom: 0;
  transition: transform 2s linear, left 2s linear;
  transform-origin: 0% 50%;
  z-index: 5;
  border-radius: 0 8px 8px 0;
}

main {
  width: 50%;
  outline: 4px solid black;
  box-shadow: 5px 5px 0px 5px #C92323, 7px 7px 0px 7px #000000;
  left: 50%;
  top: 0;
  border-radius: 0 8px 8px 0;
  align-items: flex-end;
}

.front, .back {
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .1s linear 1s;
}

.front {
  opacity: 1;
}

.open {
  visibility: hidden;
}

label {
  z-index: 99;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.open:checked+.cover {
  transform: rotateY(-180deg);
  left: calc(50% - 4px)
}

.open:checked+.cover .front {
  opacity: 0;
}

.open:checked+.cover .back {
  opacity: 1;
}


/* POKEDEX COVER FRONT */

.headline {
  left: 0;
  top: 20%;
}

h1 {
  color: #ffd500;
  font-size: 50px;
  letter-spacing: 10px;
}

.top-edge {
  height: 10%;
  width: 50%;
  top: calc(-10% - 4px);
  border-top: 4px solid black;
  border-right: 4px solid black;
  box-shadow: 0px -8px 4px 0px rgb(0 0 0 / 20%),
              8px -8px 4px 0px rgb(0 0 0 / 20%);
}

.triangle-bg {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 59px 60px 59px 0;
  border-color: transparent #000000 transparent transparent;
  right: 50px;
  top: 40%;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 50px 50px 0;
  border-color: transparent #ffd500 transparent transparent;
  position: relative;
  right: -6px;
  bottom: 50px;
}


.cover-ornament-bottom-box {
  height: 3%;
  bottom: 10%;
  left: 0;
}

.cover-ornament-bottom {
  width: 60%;
  box-shadow: 0px 0px 0px 4px hsl(0deg 0% 13%),
              inset 0px 10px 27px -8px #141414,
              10px 5px 15px 5px rgb(0 0 0 / 0%);
  border-radius: 8px;
}

.cover-ornament-side-box {
  width: 3%;
  height: 110%;
  left: 0;
  bottom: 0;
}

.cover-ornament-side {
  box-shadow: 0px 0px 0px 4px hsl(0deg 0% 13%),
              inset 0px 10px 27px -8px #141414,
              10px 5px 15px 5px rgb(0 0 0 / 0%);
  border-radius: 4px;
}

.cover-ornament-side-top {
  top: 10%;
  height: 1%;
  box-shadow: 0px 0px 0px 4px hsl(0deg 0% 13%),
              inset 0px 10px 27px -8px #141414,
              10px 5px 15px 5px rgb(0 0 0 / 0%);
}

.cover-ornament-side-bottom {
  bottom: 10%;
  height: 1%;
  box-shadow: 0px 0px 0px 4px hsl(0deg 0% 13%),
              inset 0px 10px 27px -8px #141414,
              10px 5px 15px 5px rgb(0 0 0 / 0%);
}

/* POKEDEX MAIN PAGE */

.main-top {
  top: 2px;
  width: 99%;
  height: 9%;
}

.search {
  width: 33%;
  padding: 5px;
  font-size: 16px;
  border-width: 3px;
  border-color: #000000;
  background-color: #F1F1F1;
  color: #000000;
  border-style: solid;
  border-radius: 8px;
}

.search:focus {
  outline: none;
}

.light-top {
  max-width: 200px;
  width: 33%;
}

#container {
  flex-wrap: wrap;
  overflow-y: auto;
  height: 99%;
  width: 99%;
}

.container {
  margin-bottom: 3px;
  height: 90%;
  width: 99%;
  background-color: #F1F1F1;
  border-radius: 8px;
}

.loading-box {
  background-color: #F1F1F1;
}

.loading-box img {
  height: 60px;
  width: 60px;
  margin-bottom: 20px;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loading-box span {
  font-size: 20px;
}

.pokemon-card-small-box {
  width: 215px;
  height: 180px;
}

.pokemon-card-small {
  height: 170px;
  width: 173px;
  border-radius: 8px;
  padding-inline: 16px;
  transition: height 25ms ease-in-out, width 25ms ease-in-out,
              opacity 25ms ease-in-out;
  cursor: pointer;
}

.pokemon-card-small:hover {
  height: 173px;
  width: 176px;
  opacity: 0.9;
}

h2 {
  text-transform: capitalize;
  margin: 0;
}

.small-type {
  padding: 3px 7px;
  font-size: 14px;
  border-radius: 4px;
  margin-bottom: 2px;
  color: rgb(255 255 255 / 90%);
}

.pokemon-img-small {
  height: 100px;
  width: 100px;
  margin-top: -10px;
}

.details-overlay-box {
  background-color: rgba(0,0,0,0.2);
  border-radius: 8px;
  position: fixed;
  width: 49%;
  height: 89%;
}

.details-overlay {
  height: 90%;
  width: 50%;
  border-radius: 20px;
}

.details-overlay-top {
  height: 50%;
  border-radius: 20px 20px 0 0;
  padding-inline: 24px;
}

.back-favorite {
  padding-top: 32px;
}

.details-overlay-types {
  padding-top: 8px;
}

.details-overlay-bottom {
  height: calc(50% + 20px);
  background-color: #fcfcfc;
  margin-top: -20px;
  border-radius: 20px;
  padding-inline: 24px;
}

/* RESPONSIVE */

@media (max-width: 940px) {
  #pokedex {
    width: 190vw;
    right: 2vw;
  }
}