.fit {
    width: fit-content;
}

html {
    font-family: 'Roboto';
}

body {
    margin: 0;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
    padding-bottom: 100px;
}

.pokemon-card-small {
    height: 170px;
    width: 173px;
    margin: 5px;
    padding-inline: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
}

.pokemon-card-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pokemon-card-bottom {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

h2 {
    text-transform: capitalize;
    margin: 0;
}

.pokemon-types {
    display: flex;
    flex-direction: column;
}

.pokemon-types span{
    padding: 3px 7px;
    font-size: 14px;
    border-radius: 4px;
}

.pokemon-img-small {
    height: 100px;
    width: 100px;
    margin-top: -10px;
}

.n-scroll {
    overflow-y: hidden;
    padding-right: 17px;
}

.d-none {
    display: none;
}

.loading {
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}